<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>
</head>  
<body>  
<form method="POST" action="">  
 <h1>My Todos</h1><br>
 <button><a href='{% url 'create' %}'>Add Todo</a></button>
 <ul>
    {% for todo in todos %}
      <li>{todo.todo}</li>
      <p>{todo.description}</p>
      <button><a href='{% url 'update' todo.id %}'>Edit</a></button>
      <button><a href='{% url 'delete' todo.id %}'>Delete</a></button>
    {% endfor %}
 </ul>
</form>  
</body>  
</html>  
