html,
body {
  height: 100%;
}

a{
text-decoration: none;
}

body {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signup {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signup .form-floating:focus-within {
  z-index: 2;
}

.form-signup input[type="email"] {
  margin-bottom: 10px;
}

.form-signup input[type="password"] {
  margin-bottom: 10px;
}

.form-signup input[type="text"] {
  margin-bottom: 10px;
}
