<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Todo App</title>
	</head>
	<body>
		<h3>Todo CRUD</h3>
		<button>
			<a href="{% url 'createTodo' %}">Add Todo</a>
		</button>

		<ul>
			{% for todo in todos %}
			<li>
				{{todo.title}}
				<p>{{todo.description}}</p>
				<span>
					<button>
						<a href="{% url 'updateTodo' todo.id %}">Update</a>
					</button>
					<button>
						<a href="{% url 'deleteTodo' todo.id %}">Delete</a>
					</button>
				</span>
			</li>
			{% endfor %}
		</ul>
	</body>
</html>
